mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			+e.wrap
				+e.line
				+e.row.row
					.col-lg-6.ms-auto
						+form-wrap
							h2 Order your project
							p Leave your contact details and we will call you within 1 hour and advise you on your issue
							+input("Name*",'text')(required).is-invalid
							+input("Company",'text').is-valid
							+input("Phone",'tel')
							+input("Email",'email')
							+e.btn(type="submit").btn.btn-primary Order project
							+policy
				img(src='img/sForm-img-1.png', alt='').img
				img(src='img/sForm-img-2.png', alt='').img-2
				img(src='img/svg/sForm-img-3.svg', alt='').img-3
	// end sForm