mixin sProject(data)
	// start sProject
	+b.SECTION.sProject.section#sProject&attributes(attributes)
		.lines
		.container
			+e.row.row
				.col
					+b.section-title
						+e.line
						h2 Bobbies
						p Bobbies is&nbsp;a&nbsp;Parisian house of&nbsp;exceptional footwear and leather goods for men and women.
				.col-lg-3
					+e.btn.btn.btn-primary(href='#') Order project
				.col-12
					+img('img/sProject-img-1.png').img.res-i
			+e.wrap
				+e.inner-row.row
					.col-lg-7
						+e.content
							h5 Tell&nbsp;us your story! What products do&nbsp;you sell thanks to&nbsp;PrestaShop?
							p Created in&nbsp;2010, Bobbies is&nbsp;a&nbsp;Parisian house of&nbsp;exceptional shoes and leather goods. Designed in&nbsp;Paris, our creations are made in&nbsp;Portugal from raw and noble leather of&nbsp;Italian origin. We&nbsp;imagine with passion singular but easy to&nbsp;wear pieces, timeless but in&nbsp;the air of&nbsp;time, cheeky but iconic. Our vocation: to&nbsp;wrap women&rsquo;s hearts, inspire men&rsquo;s hearts and see them beating together on&nbsp;the Parisian pavement!
						+e.content
							h5 What value does PrestaShop add to&nbsp;your store?
							p We&nbsp;chose PrestaShop for many reasons, starting with the stability of&nbsp;the platform and its many PHP resources available for the development of&nbsp;our site. PrestaShop allowed&nbsp;us to&nbsp;create a&nbsp;multilingual and multi-currency e-commerce site at&nbsp;a&nbsp;very reasonable total cost.
					.col-lg-3
						+e.tags-wrap
							+e.tags-row
								+e.tag
									h5 Business sector
									p Fashion & Shoes
								+e.tag
									h5 Product references
									p 1000 - 10000
								+e.tag
									h5 Origin country
									p France
								+e.tag
									h5 Year of creation
									p 2010
								+e.tag
									h5 Visit the website
									a(href="https://www.bobbies.com/en/", target="_blank") https://www.bobbies.com/en/
	// end sProject

mixin sProject2(data)
	// start sProject
	+b.SECTION.sProject--2.section#sProject&attributes(attributes)
		.lines
		+e.container.container
			+img('img/sProject-bg-1.png').bg-img
			+e.row.row
				.col
					+b.section-title
						+e.line
						h2 Bobbies
						p Bobbies is&nbsp;a&nbsp;Parisian house of&nbsp;exceptional footwear and leather goods for men and women.
				.col-lg-3
					+e.btn.btn.btn-primary(href='#') Order project
				.col-12
					+img('img/sProject-img-1.png').img.res-i
			+e.wrap
				+e.inner-row.row
					.col-lg-8.col-xxl-9
						+e.text-content
							.row
								.col-md-6
									+e.text-wrap
										h5 Tell&nbsp;us your story! What products do&nbsp;you sell thanks to&nbsp;PrestaShop?
										p Created in&nbsp;2010, Bobbies is&nbsp;a&nbsp;Parisian house of&nbsp;exceptional shoes and leather goods. Designed in&nbsp;Paris, our creations are made in&nbsp;Portugal from raw and noble leather of&nbsp;Italian origin. We&nbsp;imagine with passion singular but easy to&nbsp;wear pieces, timeless but in&nbsp;the air of&nbsp;time, cheeky but iconic. Our vocation: to&nbsp;wrap women&rsquo;s hearts, inspire men&rsquo;s hearts and see them beating together on&nbsp;the Parisian pavement!
								.col-md-6
									+img('img/sProject-img-2.png').res-i
							.row
								.col-md-6
									+e.text-wrap
										h5 What value does PrestaShop add to&nbsp;your store?
										p We&nbsp;chose PrestaShop for many reasons, starting with the stability of&nbsp;the platform and its many PHP resources available for the development of&nbsp;our site. PrestaShop allowed&nbsp;us to&nbsp;create a&nbsp;multilingual and multi-currency e-commerce site at&nbsp;a&nbsp;very reasonable total cost.
								.col-md-6.order-md-first
									+img('img/sProject-img-3.png').res-i
					.col-lg-4.col-xxl-3
						+e.tags-wrap
							+e.tags-row
								+e.tag
									h5 Business sector
									p Fashion & Shoes
								+e.tag
									h5 Product references
									p 1000 - 10000
								+e.tag
									h5 Origin country
									p France
								+e.tag
									h5 Year of creation
									p 2010
								+e.tag
									h5 Visit the website
									a(href="https://www.bobbies.com/en/", target="_blank") https://www.bobbies.com/en/
	// end sProject