mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		+e.container.container
			+e.line
			+e.row.row
				.col-lg
					+e.wrap
						h2 About Us
						p KODIJI offers you a&nbsp;highly flexible and scalable ecommerce platform to&nbsp;launch an&nbsp;online business 100% owned and designed by&nbsp;you.
				.col-lg-auto.order-lg-first
					+img('img/sAbout-img-1.png')
	// end sAbout