mixin sOfficial(data)
	// start sOfficial
	+b.SECTION.sOfficial.section#sOfficial&attributes(attributes)
		.container
			+e.wrap
				+e.row.row
					.col-auto
						+e.img-wrap
							+e.line
							+img('img/sOfficial-logo.png')
					.col
						h2 We are official PrestaShop partners
	// end sOfficial